---
import "@fontsource-variable/playfair-display/wght";
import "@fontsource-variable/playfair-display/wght-italic";
import "@fontsource-variable/funnel-display";

import "../styles/global.css";
import background from "../assets/background.svg";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-stone-50">
        <img
            class="fixed top-0 left-0 w-full h-full -z-20 blur-[70px] animate-breathe"
            src={background.src}
            alt=""
            fetchpriority="high"
        />
        <slot />
    </body>
</html>
